<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>StudentManager</display-name>
  
  <filter>
      <filter-name>LoginFilter</filter-name>
      <filter-class>com.sm.filter.LoginFilter</filter-class>
  </filter>
  <filter>
      <filter-name>CharFilter</filter-name>
      <filter-class>com.sm.filter.CharFilter</filter-class>
  </filter>
  
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>CharFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.sm.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginForm</servlet-name>
    <servlet-class>com.sm.form.servlet.LoginForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentListForm</servlet-name>
    <servlet-class>com.sm.form.servlet.StudentListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.sm.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.sm.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddStudentForm</servlet-name>
    <servlet-class>com.sm.form.servlet.AddStudentForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateStudentForm</servlet-name>
    <servlet-class>com.sm.form.servlet.UpdateStudentForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.sm.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.sm.servlet.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>com.sm.servlet.UpdateStudentServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginForm</servlet-name>
    <url-pattern>/LoginForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentListForm</servlet-name>
    <url-pattern>/StudentListForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStudentForm</servlet-name>
    <url-pattern>/AddStudentForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStudentForm</servlet-name>
    <url-pattern>/UpdateForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>